.body {
    background: linear-gradient(45deg, white, black);

}

.pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    
}

button {
    position: relative;
    top: -40px;
    width: 400px;
    padding: 30px;
    border-left: 50px;
    font-size: 23px;
    background-color: #0b21e6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 5px auto;
    transition: background-color 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
    

}

.imgquiz {
    position: relative;
    left: 26px;
    top: -930px;
    height: 20px;
    width: 200px;
}



.opc:hover {
    transform: scale(1.1);
}

.logonoquiz {
    position:fixed;
    left: 55%;
    top: 2%;
    
}
.logonoquiz1 {
    position:fixed;
    left: 62%;
    top: 2%;

    
    
}

.logonoquiz2 {
    position:fixed;
    left: 63%;
    top: 2%;
}

.h1_html{
    font-size:100px;
    position: relative;
    left: 42%;
    top: -60px;
    height: 50px;
    width: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h1_edu-fisica{
    font-size:100px;
    position: relative;
    left: 35%;
    top: -60px;
    height: 50px;
    width: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.h1_futebol{
    font-size:100px;
    position: relative;
    left: 40%;
    top: -60px;
    height: 50px;
    width: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.h1_logica{

    font-size:100px;
    position: relative;
    left: 40%;
    top: -60px;
    height: 50px;
    width: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.h2_logica_per1{
    width: 1500px;
}
    


h2{
    font-size:30px;
    position: relative;
    left:auto;
    top:-50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    border:solid 1px black;
    width: max-content;
    
    
}

.pontuacao{
position: fixed;
left: 25%;
top: 20%;
font-size: 100px;




}

.h1ind{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    position: fixed;
    top: 30px;
    left:25%;
    font-size: 40px;

}

.h2ind{
    font-size:50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    position: relative;
    padding: auto;
    top: 200px;
    left:41%;
    height: 10%;
    

}

#resu{
    position: relative;
    left: 55.5%;
    top: -130px;
    font-size: 60px;
    width: max-content;
    height: max-content;
}



.botaoind{
    position: relative;
    top: 280px;
    left: -20px;
}

.opcind{
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    position: relative;
    justify-self: center;
    padding: auto;
    top: 250px;
    left:30%;
    height: 10%;
    align-content: center;
    width:max-content;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 1px black;
}


#Direcionar{
    position: relative;
    top: 280px;
    left: -20px;
}
