.body {
    background: linear-gradient(45deg, white, black);

}

.pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

button {
    position: relative;
    top: -40px;
    width: 400px;
    padding: 30px;
    border-left: 50px;
    font-size: 23px;
    background-color: #0b21e6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 5px auto;
    transition: background-color 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
    

}

.imgquiz {
    position: relative;
    left: 26px;
    top: -930px;
    height: 20px;
    width: 200px;
}



.opc:hover {
    transform: scale(1.1);
}

.logonoquiz {
    position:fixed;
    left: 55%;
    top: 2%;
    
}
.logonoquiz1 {
    position:fixed;
    left: 62%;
    top: 2%;

    
    
}

.logonoquiz2 {
    position:fixed;
    left: 59%;
    top: 2%;
}
h1 {
    font-size:100px;
    position: relative;
    left: 41%;
    top: -60px;
    height: 50px;
    width: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h2{
    font-size:30px;
    position: relative;
    left:auto;
    top:-50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.3)
    
    
}

.pontuacao{
position: fixed;
left: 25%;
top: 20%;
font-size: 100px;




}



